<% layout("/layouts/boilerplate") %>

<body>
    <h3>All Backets</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Add a Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let i=0; i<sampleListing.length; i++) {%>
            <a class="listing-link" href="/listings/<%=sampleListing[i]._id%>">
                <div class="card col">
                    <img 
                        style="height: 20rem;" 
                        src="<%=sampleListing[i].image%>" class="card-img-top" 
                        alt="<%=sampleListing[i].title%>">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%=sampleListing[i].title%></b> <br>
                            &#8377;<%=sampleListing[i].price?sampleListing[i].price.toLocaleString("en-IN"):0%>/kg
                        </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>

    
</body>